src/main/java/org/

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
LICENSE-Paulscode IBXM Library.txt
LICENSE-Paulscode SoundSystem CodecIBXM.txt
CREDITS.txt
src/main/java/de/dafeist/ucaddons/utils/CryptoUtils.java
src/main/java/de/dafeist/ucaddons/commands/ulink.java
src/main/java/de/dafeist/ucaddons/commands/ulogin.java